/*
 * file: _header.sass
 * Styles for the page header, page header navigation, and logo.
 */

/**
 * Overrides ionic icon display: inline-block
 */
.mobile-toggle
	$width: $base-spacing * 3
	$height: $width
	color: #777
	cursor: pointer
	display: none !important /* [1] */
	flex: 0 1 $width
	font-size: 2.25rem
	position: relative
	min-width: $width

	.ion
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)




@media screen and (max-width: breakpoint('large'))

	.mobile-toggle
		display: inline-block !important
		z-index: zindex('mobile-toggle')