$red: #D04F3A;
$light-orange: #FDA737;
$orange: #FD7037;
$green: #45BF7B;
$blue: #3AB2D0;

$icon-color: #B0BDC0;

$color-primary: $red;
$color-secondary: $red;
$color-foreground: #323B3D;

$lightness-variants: (
	'lightest': 70,
	'lighter': 50,
	'light': 30,
	'dark': -30,
	'darker': -56,
	'darkest': -70
);

$colors: (
	'primary': (
		'base': $color-primary,
	),
	'secondary': (
		'base': $color-secondary,
		'lightest': scale-color($color-secondary, $lightness: lightness('lightest')),
		'lighter':  scale-color($color-secondary, $lightness: lightness('lighter')),
		'light':    scale-color($color-secondary, $lightness: lightness('light')),
		'dark':     scale-color($color-secondary, $lightness: lightness('dark')),
		'darker':   scale-color($color-secondary, $lightness: lightness('darker')),
		'darkest':  scale-color($color-secondary, $lightness: lightness('darkest')),
	),
	'foreground': (
		'base':     $color-foreground,
		'lightest': scale-color($color-foreground, $lightness: lightness('lightest')),
		'lighter':  scale-color($color-foreground, $lightness: lightness('lighter')),
		'light':    scale-color($color-foreground, $lightness: lightness('light')),
		'dark':     scale-color($color-foreground, $lightness: lightness('dark')),
		'darker':   scale-color($color-foreground, $lightness: lightness('darker')),
		'darkest':  scale-color($color-foreground, $lightness: lightness('darkest')),
	),
	'background': (
		'light': #eee,
		'base': #E9EDF0, // equal to rgba(darken(#D2D7D3, 40), 0.5) placed over a white background
		'dark': #1B2224,
	),
	'success': (
		'base': $green
	),
	'danger': (
		'base': $red
	)
);