
$font-sizes: (
	'small': rem(14px),
	'normal': rem(18px),
	'large': rem(20px)
);

$body-font-family: Montserrat, Open Sans, sans-serif;
$base-font-size: 16px;
$base-line-height: 1.5;
$base-gutter: 30px;
$base-spacing: 20px;
$paragraph-spacing: $base-spacing;

$headings: (h1, h2, h3, h4, h5, h6);