@charset 'utf-8';

@import 'vendor/bourbon/bourbon'

@import 'utils/functions'
@import 'utils/mixins'
@import 'utils/helpers'

@import 'variables'
@import 'colors'
@import 'typography'

@import 'grid'

@import 'base/normalize'
@import 'base/base'

@import 'components/button'
@import 'components/lists'



body, html
	overflow: initial


// --------------------
// Project styles
// --------------------

.page-wrapper
	max-width: 800px
	margin: ($base-spacing * 3) auto
	padding: 0 5%