<section class="details-pane">

	<div class="details-pane__header">
		<div class="details-pane__top  [ flex flex--justify-between flex--items-center ]">
			<h1 class="details-pane__heading">
				Inbox
			</h1>
			<div class="flex flex--nowrap flex--items-center">
				<input type="search" id="inbox-search">
			</div>
		</div>

		<div class="options">

			<ul class="options__list">
				<li class="[ options__list__item options__list__item--task ]">
					<i class="ion ion-reply"></i>
				</li>
				<li class="[ options__list__item options__list__item--task ]">
					<i class="ion ion-heart"></i>
				</li>
				<li class="[ options__list__item options__list__item--task ]">
					<i class="ion ion-trash-b"></i>
				</li>
				<li class="[ options__list__item options__list__item--task ]">
					<i class="ion ion-arrow-down-b"></i>
				</li>
			</ul>

			<ul class="options__list">
				<li class="options__list__item  options__list__item--sort">
					A-Z
				</li>
				<li class="options__list__item  [ options__list__item--sort options__list__item--sort--active ]">
					Recent
				</li>
			</ul>

		</div>
	</div>


	<div class="details-pane__view">
		<!--
			The #inbox element could be switched out for something else, and the details pane would retain its dimensions.
		 -->
		<ul id="inbox" class="inbox  email-list">

			{% for item in site.data.inbox %}

			<li class="email-list__item">
				<div ref="checkboxWrapper" class="email-list__item__checkbox-wrapper">
					<label class="email-list__item__checkbox">
						<input class="is-hidden" type="checkbox" />
					</label>
				</div>

				<div class="email-list__item-container">
					<div class="flex  u-overflow-x-hidden">
						<div class="email-list__item__person">{{ item.sender }}</div>
						<div class="email-list__item__title">
							<ul class="email-list__item__labels">
								{% for label in item.labels %}
									<li class="email-list__item__label">{{ label }}</li>
								 {% endfor %}
							</ul>
							{{ item.title }}
						</div>
					</div>
					<div class="email-list__item__date">{{ item.dateFormatted }}</div>
				</div>
			</li>
			{% endfor %}
		</ul>

	</div>

</section>