<section class="preview-pane">
	<header class="preview-pane__header">
		<h1 class="preview-pane__heading">
			Theory of Design
		</h1>
		<ul class="preview-pane__meta">
			<li class="preview-pane__meta__item  preview-pane__from">from Victor Erixon</li>
			<li class="preview-pane__meta__item  preview-pane__date">3:04pm</li>
			<li class="[ preview-pane__meta__item preview-pane__meta__item--more ]">
				<i class="ion ion-ios-arrow-down"></i>
			</li>
		</ul>
	</header>
	<section class="preview-pane__body">
		<p>
			Hello World,
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex quia optio, tempora pariatur mollitia sapiente placeat molestiae iusto necessitatibus vero fugit quisquam, facilis saepe velit expedita, veritatis aliquam laborum nam quaerat magni. Voluptatibus libero impedit, obcaecati aliquid esse porro facilis?
		</p>

		<blockquote>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, distinctio!
			</p>
		</blockquote>

		<p>
			Can you believe that? Sit vero maiores sint voluptatum et, consequatur, tempora eaque aliquid suscipit hic, quod nobis ducimus modi debitis corporis assumenda nesciunt cum. Fugiat blanditiis eos cumque fuga deleniti nihil ducimus fugit unde doloribus ipsa.
		</p>
		<p>
			In closing, quaerat facere mollitia cum asperiores recusandae ut doloremque magni nesciunt a temporibus accusamus error culpa eaque, consequatur qui, architecto saepe vitae? Eligendi.
		</p>
	</section>
</section>