<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="robots" content="noindex">
	<meta name="description" content="{{ page.description }}">

	<link rel="stylesheet" href="{{ site.stylesheets }}/project.min.css">
	<link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,400italic,700, 700italic' rel='stylesheet' type='text/css'>

	<title>{{ page.title }}</title>
</head>
<body>
	<div class="page-wrapper">
		{{ content }}
	</div>
</body>
</html>